<div class=" w3-xlarge w3-hide-large" id="git-wiki-mobile-header">
  <button class="w3-button w3-teal" onclick="sidebar_toggle()">&#9776;</button>
  <a href="{{ '/' | relative_url }}">
    {% if site.logo_url %}
    <img src="{{ site.logo_url | relative_url }}" width="20px">
    {% endif %}
    {{ site.title | escape }}
  </a>
</div>

<!-- Sidebar Overlay Backdrop -->
<div class="w3-overlay w3-hide-large" onclick="sidebar_toggle()" style="cursor:pointer" id="sidebar-overlay"></div>

<header class="w3-sidebar w3-bar-block w3-collapse" id="git-wiki-sidebar">
  <div>
    <button class="w3-bar-item w3-button w3-large w3-hide-large sidebar-close-btn" onclick="sidebar_toggle()">Close &times;</button>
    {% if site.inc_before_header %}
    {% include {{ site.inc_before_header }} %}
    {% endif %}

    <div class="w3-hide-medium w3-hide-small">
      {% if site.logo_url %}
      {% include git-wiki/components/logo/logo.html %}
      {% else %}
      <h1>{{ site.title | escape }}</h1>
      {% endif %}
    </div>


    {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %}

    {% if site.show_wiki_pages %}
    {% include git-wiki/components/lists/page-list.html %}
    {% endif %}

    {% if site.blog_feature and site.show_wiki_posts %}
    {% include git-wiki/components/lists/post-list.html %}
    {% endif %}

    {% if site.inc_after_header %}
    {% include {{ site.inc_after_header }} %}
    {% endif %}
  </div>
</header>
<script>
  function sidebar_toggle() {
    var sidebar = document.getElementById("git-wiki-sidebar");
    var overlay = document.getElementById("sidebar-overlay");
    if (sidebar.classList.contains("open")) {
      sidebar.classList.remove("open");
      overlay.style.display = "none";
      document.body.style.overflow = "auto";
    } else {
      sidebar.classList.add("open");
      overlay.style.display = "block";
      document.body.style.overflow = "hidden";
    }
  }
</script>
