<span class="menu-edit-title">Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):</span>

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/CampaignJournals/' | relative_url }}">Campaign Journals</a></li>
  <li><a href="{{ '/Characters' | relative_url }}">Characters</a></li>
  <li><a href="{{ '/Locations' | relative_url }}">Locations</a></li>
  <li><a href="{{ '/Organisations' | relative_url }}">Organisations</a></li>
  <li><a href="{{ '/Quests' | relative_url }}">Quests</a></li>
  <li><a href="{{ '/Races' | relative_url }}">Races & Classes</a></li>
</ul>
