@import "catppuccin";
@import "fonts";
@import "rouge-github";
@import "w3.scss";

:root {
  --bg-color: var(--ctp-macchiato-base);
  --text-color: var(--ctp-macchiato-text);
  --link-color: var(--ctp-macchiato-blue);
  --link-hover-color: var(--ctp-macchiato-sapphire);
  --sidebar-bg: var(--ctp-macchiato-mantle);
  --sidebar-border: var(--ctp-macchiato-surface0);
  --code-bg: var(--ctp-macchiato-surface0);
  --border-color: var(--ctp-macchiato-surface1);
  --header-color: var(--ctp-macchiato-text);
  --quote-color: var(--ctp-macchiato-overlay0);
  --table-border: var(--ctp-macchiato-surface1);
  --table-stripe: var(--ctp-macchiato-surface0);
  --meta-color: var(--ctp-macchiato-subtext0);
}

body {
  background-color: var(--bg-color);
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: var(--header-color); // #393939
}

h3,
h4,
h5,
h6 {
  color: var(--header-color); // #494949
}

a {
  color: var(--link-color); // #39c
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color); // #069
}

a small {
  font-size: 11px;
  color: var(--meta-color); // #777
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: var(--meta-color); // #777
}

.wrapper {
  /*width:860px;*/
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid var(--border-color); // #e5e5e5
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
  color: var(--quote-color);
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--text-color); // #333
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: var(--code-bg); // #f8f8f8
  border-radius: 5px;
  border: 1px solid var(--border-color); // #e5e5e5
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--border-color); // #e5e5e5
}

dt {
  color: var(--header-color); // #444
  font-weight: 700;
}

th {
  color: var(--header-color); // #444
}

img {
  max-width: 100%;
}

.w3-teal {
  color: #000 !important;
  background-color: inherit !important;
}

#git-wiki-mobile-header {
  position: fixed;
  top: 0;
  height: 55px;
  background-color: var(--bg-color); // white
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px;
  // z-index: 999; // it breaks the dark mode
}

#git-wiki-sidebar {
  width: 280px !important;
  float: left;
  position: relative !important;
  -webkit-font-smoothing: subpixel-antialiased;
  /*overflow-y: auto;
  overflow-x: auto;*/
  max-height: 100%;
  padding-bottom: 55px !important;
  background-color: var(--sidebar-bg);
}

@media print,
screen and (max-width: 992px) {
  #git-wiki-sidebar {
    position: fixed !important;
    top: 50px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 10px;
  }

  .git-wiki-page {
    margin-top: 60px;
  }
}

.git-wiki-main-logo {
  max-width: 270px;
}

#git-wiki-sidebar .git-wiki-downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: var(--sidebar-bg); // #f4f4f4
  border-radius: 5px;
  border: 1px solid var(--sidebar-border); // #e0e0e0
  width: 270px;
}

#git-wiki-sidebar .git-wiki-downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid var(--sidebar-border); // #e0e0e0
  height: 40px;
}

#git-wiki-sidebar .git-wiki-downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

#git-wiki-sidebar .git-wiki-downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

#git-wiki-sidebar .git-wiki-downloads a {
  line-height: 1;
  font-size: 11px;
  color: var(--meta-color); // #999
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

#git-wiki-sidebar .git-wiki-downloads a:hover {
  color: var(--text-color); // #999
}

#git-wiki-sidebar .git-wiki-downloads a:active {
  background-color: var(--table-stripe); // #f0f0f0
}

strong {
  color: var(--header-color); // #222
  font-weight: 700;
}

#git-wiki-sidebar .git-wiki-downloads li+li+li {
  border-right: none;
  width: 89px;
}

#git-wiki-sidebar .git-wiki-downloads a strong {
  font-size: 14px;
  display: block;
  color: var(--header-color); // #222
}

.git-wiki-page {
  /*width:500px;
  float:right;*/
  padding-left: 320px;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: var(--border-color); // #e5e5e5
  height: 1px;
  margin: 0 0 20px;
}

footer {
  padding-left: 320px;
  float: left;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.tools-element {
  border-left: var(--link-color); // aqua
  border-left-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

@media print,
screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  #git-wiki-sidebar,
  .git-wiki-page,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  #git-wiki-sidebar {
    padding-right: 320px;
  }

  .git-wiki-page,
  footer {
    border: 1px solid var(--border-color); // #e5e5e5
    border-width: 1px 0;
    padding: 20px 0;
    margin: 60px 0 20px;
  }

  #git-wiki-sidebara small {
    display: inline;
  }

  /*#git-wiki-sidebar .git-wiki-downloads {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}


@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  #git-wiki-sidebar {
    padding: 0;
  }

  #git-wiki-sidebar .git-wiki-downloads,
  #git-wiki-sidebarp.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  #git-wiki-sidebar .git-wiki-downloads {
    width: 99%;
  }

  #git-wiki-sidebarli,
  #git-wiki-sidebar .git-wiki-downloads li+li+li {
    width: 33%;
  }
}

@media print {
}
