{% if site.github.is_project_page %}
<div class="git-wiki-copyrights">
    <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p><small>Hosted on GitHub Pages &mdash; Powered by <a href="https://github.com/Drassil/git-wiki-theme">Git-Wiki v{{
                version }}</a> </p>

    {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on {% if site.github.hostname == "gitlab.com" %} Gitlab {% else %} Github {% endif %} <small>{{ github_name }}</small></a></p>
    <p style="text-align: center; font-size: 12px; color: var(--ctp-main-subtext0);">
    Vectors and icons by <a href="https://www.svgrepo.com" target="_blank">SVG Repo</a>
    </p>
</div>
{% endif %}
