<div class="git-wiki-page">
  <section>

    <div class="search-container-top">
      {% include git-wiki/components/search/index.html %}
    </div>

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    {% if page.path contains 'wiki/' or page.path == 'index.md' or page.path contains '_posts/' %}
      <h1>{{ page.title }}</h1>
      {% if page.path contains 'wiki/' %}
        {% include git-wiki/components/toc/toc.html %}
        <hr>
      {% endif %}
    {% endif %}

    <div id="git-wiki-content">
      {{ content }}
    </div>

    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </section>
</div>